.movies{
    width: 1250px;
    height: auto;
    background:#1F1F1F;
    margin:0 auto;
}
.movie_wrapper{
    width: 100%;
    height: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: auto;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
}
.movie_container{
    width: 100%;
    height: auto;
    margin: 15px 0;
    padding: 3px;
    border-radius: 7px;
    overflow: hidden;
    transition: 0.3s;
    /* cursor: pointer; */

    background: rgba(40, 40, 40,1);;
    box-shadow: -4px 9px 25px -6px rgba(0,0,0,.1);
}

.movie_poster{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
}
.movie_poster:hover img{
    transform: scale(1.07);
}
.movie_poster img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 7px;
    transition: 0.3s;
    display: block;
}
.movie_detail{
    padding: 15px 15px 10px ;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-end;
}
.movie_name{
    width: 100%;
    margin-bottom: 5px;
}
.movie_name h4{
    font-size: 14px;
    /* font-weight: lighter; */
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    color: white;
}
.movie_name p{
    margin-top: 5px;
    font-size: 14px;
    /* font-weight: bold; */
    color: rgb(224, 224, 224)
}
.movie_rating{
    /* width: 40%; */
    text-align: right;
    /* float: right;
    clear: both; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* position:absolute;
    right: 15px;
    bottom: 8px; */
}
.add_to_waatchlist{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 12px;
    margin-right: 7px;
}
.add_to_waatchlist i{
    width: 100%;
    height: auto;
    margin: 0 !important;
}
.movie_rating h4{
    font-weight: lighter;
    font-size: 14px;
    color: rgb(224, 224, 224)
}
.movie_rating i{
    width: 16px;
    margin-right: 10px;
    color: rgb(224, 224, 224);
    cursor: pointer;
}
.movie_rating i svg ,.add_to_waatchlist i svg{
    width: 100%;
    height: auto;
}
.movie_rating i:hover{
    color: white;
}
#rating{
    color: yellow;
}
/* #watchlist{
    color: #4293f5;
} */
@media only screen and (max-width:1500px){
    .movies{
        width: 85%;
    }
    .movie_wrapper{
        grid-column-gap: 10px;
    }
    .movie_poster img{
        height: 400px;
    }
}
@media only screen and (max-width:1400px){

    
}
@media only screen and (max-width:1250px){
    .movies{
        width: 100%;
        margin-left: 0;
    }
}
@media only screen and (max-width:1050px){
    .movie_poster img{
        height: 330px;
    }
}
@media only screen and (max-width:900px){
    .movie_poster img{
        height: 400px;
    }
    .movie_wrapper{
        grid-template-columns:1fr 1fr 1fr;
    }
}
@media only screen and (max-width:767px){
    .movie_poster img{
        height: 360px;
    }
    
}
@media only screen and (max-width:680px){
    .movie_poster img{
        height: 370px;
    }
    .movie_wrapper{
        grid-template-columns:1fr 1fr;
    }
}
@media only screen and (max-width:550px){
    .movie_poster img{
        height: 350px;
    }
    
}
@media only screen and (max-width:480px){
    .movie_poster img{
        height: 250px;
    }
   
    /* .movie_wrapper{ */
        /* grid-template-columns:1fr ;
    } */
}
@media only screen and (max-width:350px){
    .movie_poster img{
        height: 200px;
    }
    
    
}
