.pagination {
  width: 100%;
  height: auto;
  padding: 20px 0 40px;
}
.pagination_wrapper {
  width: 310px;
  margin: 0 auto;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pagination_link {
  list-style: none;
  margin: 0 4px;
}
.pagination_link button {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  outline: none;
  color: #2176ff;
  cursor: pointer;
  background: #33a2fd48;
  -webkit-box-shadow: 0px 3px 7px -1px #33a2fd48;
  -moz-box-shadow: 0px 3px 7px -1px #33a2fd48;
  box-shadow: 0px 3px 7px -1px #33a2fd48;
  border-radius: 50px;
  transition: 0.3s;
}
.pagination_link button:hover {
  box-shadow: none;
}
@media only screen and (max-width: 480px) {
  .pagination_wrapper {
    width: 100%;
    padding: 0 10px;
  }
  .pagination_link button {
    width: 25px;
    height: 25px;
  }
  .pagination_link button {
    padding: 6px 8px;
    font-size: 11px;
  }
}
