
.header{
    width: 100%;
    /* margin: 0 auto; */
    /* padding-top: 55px; */
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.header-slider{
    width: 85%;
    height: 600px;
    /* background: yellow; */
    margin-left: auto;
}

