@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: rgba(31, 31, 31);
    outline: none;
    /* font-family: 'Manjari', sans-serif; */
}
/* ::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: lightgrey;
} */