.navbar {
  width: 100%;
  transition: 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: white;
}
.navbar-wrapper {
  width: 100%;
  padding: 0 40px;
  height: auto;
}
.navbar-container {
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
}
.navbar-container ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: auto;
}
.navbar-container ul li {
  list-style: none;
  padding: 20px 15px;
}
.navbar-container ul li span {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 25px 0;
  letter-spacing: 0.1em;
  font-size: 15px;
  cursor: pointer;
}
.burger {
  width: 30px;
  height: auto;
  margin-right: auto;
  cursor: pointer;
}

.burger_line {
  width: 100%;
  background: rgb(0, 0, 0);
  height: 3px;
  margin: 5px 0;
}
@media only screen and (max-width: 480px) {
  .navbar-container ul li span {
    font-size: 12px;
  }
  .navbar-wrapper {
    padding: 0 20px;
  }
}
